
@{
    ViewBag.Title = "Gaming Fest";
    Layout = "~/Views/_Dashboard2.cshtml";
}

<h2>Overview2</h2>
<form action="~/Views/Admin/Overview2.cshtml" method="post">

    Name:<input type="text" name="Name" class="form-control">
    Date:<input type="date" name="Date" class="form-control">




    <input type="submit" value="Add" class="btn btn-primary">



</form>

